/* -----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
    --background: rgb(0, 0, 0);
    --font-color-gray: #dddcdf;
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --on-background: hsla(220, 100%, 95%, 1);
  
    /* Font */
    --font-roboto: "Roboto", sans-serif;
    --font-poppins: "Poppins", sans-serif;
  }
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  * {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  html,
  body {
    font-family: var(--font-poppins);
    background: var(--background);
    color: var(--font-color-gray);
  }
  
  img {
    color: white;
  }
  
  a {
    color: var(--font-color-gray);
    transition: 0.3s ease;
  }
  
  a:hover {
    transform: translateY(5px);
  }
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  h1 {
    font-size: 25px;
    font-weight: 500;
  }
  
  /*-----------------------------------*\
    #NAV
  \*-----------------------------------*/
  
  nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  nav h1 {
    font-size: 25px;
    font-weight: 500;
  }
  
  /* .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title button{
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.551);
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    outline:none;
    border: none;
    cursor: pointer;
  } */
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title .search-box {
    display: flex;
    justify-content: space-between;
    width: 250px;
    background: #121416;
    padding: 8px 20px;
    border: none;
    outline: none;
    color: white;
    border-radius: 6px;
  }
  
  .title .search-box input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
  }
  
  .title .search-box button {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .title .search-box i {
    font-size: 20px;
  }
  
  /*-----------------------------------*\
    #NAV LINKS
  \*-----------------------------------*/
  
  .nav-links {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    gap: 13px;
    overflow-x: scroll;
  }
  
  .nav-links li a {
    color: white;
    outline: none;
    border: none;
    min-width: fit-content;
    display: flex;
    gap: 12px;
    align-items: center;
    background: #121416;
    padding: 7px 13px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nav-links li a:is(:link, :active, :visited).active {
    background: gainsboro;
    color: black;
  }
  
  .nav-links > li > p {
    font-size: 15px;
    font-weight: 500;
  }
  
  .normal {
    display: flex;
    gap: 15px;
  }
  
  /*-----------------------------------*\
    #TO SWITCH BETWEEN MOVIE & SHOW
  \*-----------------------------------*/
  
  
  .movie-show-icon a:is(:link, :active, :visited).active {
    background: gainsboro;
    color: black;
    border-radius: 8px;
  }
  
  .movie-show-icon {
    display: flex;
    gap: 15px;
  }
  
  .movie-show-icon li {
    background: transparent;
    border: 1px solid white;
    padding: 3px 15px;
    border-radius: 8px;
    cursor: pointer;
  }

/*-----------------------------------*\
  #Reuseable Container for small movie 
\*-----------------------------------*/

.resuable-movies-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    position: relative;
  }
  
  .resuable-movies-image {
    width: 210px;
    position: relative;
  }
  
  .resuable-movies-image img {
    border-radius: 10px;
    width: 100%;
  }
  
  .resuable-movies-name {
    width: 210px;
    display: flex;
    padding: 2px 10px;
    justify-content: space-between;
  }
  
  .resuable-movies-name > p:first-child {
    width: 75%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .resuable-movies-image p:nth-child(2) {
    position: absolute;
    font-size: 13px;
    padding: 2px 6px;
    top: 8px;
    right: 12px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    z-index: 2;
  }
  
  /*-----------------------------------*\
    #Reuseable Container for 230px movie 
  \*-----------------------------------*/
  
  .resuable-movies-image-230px {
    width: 230px;
    position: relative;
  }
  
  .resuable-movies-image-230px p {
    position: absolute;
    font-size: 13px;
    padding: 2px 6px;
    top: 8px;
    right: 12px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  }
  
  .resuable-movies-image-230px img {
    border-radius: 10px;
    width: 100%;
  }

/*-----------------------------------*\
  #Load More Button
\*-----------------------------------*/

.load-button {
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin-right: 15px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .Tv-shows{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }